@tailwind base;
@tailwind components;
@tailwind utilities;

/* html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("./1aa2008c04d15f46d38b797cb1452ed4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  border: none;
} */

body {
  background: linear-gradient(
    90.21deg,
    rgba(192,192,192) -5.91%,
    rgba(43,43,43) 111.58%
  );
  color: #fff;
}

/* ::selection {
  background-color: rgba(74, 47, 189, 0.5);
} */

#cover {
  background: linear-gradient(
    90.21deg,
    rgba(192,192,192) -5.91%,
    rgba(43,43,43) 111.58%
  );
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #f5741c;
  fill: #f5741c;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}
